<% layout('layouts/boilerplate') %>
<div class="d-flex justify-content-center py-3">
  <h3>Heritage sites across the World</h3>

</div>

  <div id="map" style="width:100%; height: 500px;">
  </div>

  <script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
  </script>

  <script src="/javascript/cluster.js"></script>