<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Web application for managing and locating the World heritage sites">
  <meta name="author" content="Devesh Kumar, Akanksha Yadav">
  <title>Heritage Glass</title>


  <link href="/stylesheet/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheet/cover.css">

</head>

<body>
  <div class="cover d-flex text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <% if (currentUser) { %>
            <h4 class="float-md-start mb-0">Welcome</h4>

            <% } %>

              <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Home</a>
                <a class="nav-link fw-bold py-1 px-0" href="#features">Features</a>
                <a class="nav-link fw-bold py-1 px-0" href="#contact">Contact</a>
              </nav>
        </div>
      </header>

      <main class="px-3">
        <div class="">
          <img class="logo"
            src="https://freepikpsd.com/file/2019/10/white-search-icon-background-Free-PNG-Images-Transparent.png"
            alt="" srcset="">
          <span class="tittle">Heritage Glass</span>
        </div>
        <h4 class="py-3">Building peace in the minds of men and women</h4>
        <p class="lead "> World Heritage embodies the great humanist idea that people of all cultures and faiths can
          unite around the conservation of places of Outstanding Universal Value.</p>
        <p class="lead">
          <a href="/sites" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Explore</a>
        </p>
      </main>

      <footer class="mt-auto text-white-50">
        <p>&copy heritage Glass</p>
      </footer>
    </div>

  </div>

  <div id="features" class="container py-5">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h2 class="display-5 fw-bold">Explore the globe</h2>
        <p class="col-md-8 fs-4">Together, for 45 years, we have worked on identifying and protecting the world’s most
          outstanding places. Now you can visulaize them in the globe.</p>
        <a class="btn btn-outline-secondary btn-lg" href="/globe"> Visit World </a>
      </div>
    </div>
  </div>


  <footer id="contact" class="container py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>© 2022 Heritage Glass, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#twitter"></use>
            </svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#instagram"></use>
            </svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#facebook"></use>
            </svg></a></li>
      </ul>
    </div>
  </footer>



</body>

</html>